{% block _cms_form_preview_widget %}
    <div class="grid contact-us-form">
        <div class="grid__row">
            <div class="grid__column grid__column--12">{{ b2b_code_form(entity.alias) }}</div>
        </div>
    </div>
{% endblock %}
